@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: url("Stadium1.jpg");
    background-position: center;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

header .navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo{
    color: #fff;
    font-size: 2.1rem;
    font-weight: 600;
}


.navbar .logo span{
    color: green;
}

.navbar .menu-links{
    display: flex;
    gap: 40px;
    list-style: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover{
    color: green;
}

.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}


.hero-section .content{
    color: rgb(255, 255, 255);
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.hero-section .content h1 {
    font-size: 3rem;
    max-width: 600px;
}

.hero-section .content p {
    font-weight: 700;
    margin-top: 70px;
    max-width: 500px;
}

.hero-section .content button{
    background: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}


.hero-section .content button:hover{
    color: #fff;
    background: green;
}

#menu-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

#close-menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    header{
        padding: 10px 20px
    }
    header.show-mobile-menu::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    #close-menu-btn, #menu-btn{
        display: block;
    }

    .navbar .menu-links{
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background: #fff;
        padding: 70px 40px 0;
        transition: left 0.15s ease;
    }

    header.show-mobile-menu .navbar .menu-links{
        left: 0;
    }
    .navbar a{
        color: #000;
    }

    .hero-section .content{
        text-align: center;
    }

    .hero-section .content :is(h1, p){
        max-width: 100%;
    }

    .hero-section .content h1{
        font-size: 2.3rem;
        line-height: 60px;
    }

    .hero-section .content button{
        padding: 9px 18px;
    }
}


/* ---------------------------------------------------------- */
.slide-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}
.slide-container1{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: #fff;
}
.image-content,.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overly{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    border-radius: 25px 25px 0 25px;
}
.overly::before,.overly::after{
    content:'';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:gray ;
}
.overly::after{
    border-radius: 0 25px 0 0 ;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #808080;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button1{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: gray;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button1:hover{
    background-color: gray;
}

.swiper-navBtn{
    color: #6e93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #4070F4;
}
.swiper-navBtn::before,.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #6e93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}

@media screen and (max-width: 768px){
    .slide-content{
        margin: 0 10;
    }
    .swiper-navBtn{
        display: none;
    }
}

